body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

p, {
	padding: 0;
	margin: 0;
}

a, a:hover {
	text-decoration: none;
	color: #fff;
}

ul, li, a {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 36px;
	font-weight: 600;
	color: #fff;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 25px;
}

h3 {
	font-size: 20px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	margin-top: 24px;
	margin-bottom: 20px;
}

header, footer, section, div, p, button, input, span, a, li {
	box-sizing: border-box;
}

input {
	border: none;
}
.full-screen {
    padding: 0;
}

/* First screen */

.header {
    /* height: 100vh;*/
}

.header .container-fluid {
   /* height: 100vh;*/
}


.head__logo {
	background: url('../images/logo.png') no-repeat 22px;
	font-family: 'Bebas Neue';
	font-size: 36px;
	color: #000;
	font-weight: bold;
	line-height: 1.1;
	padding-left: 115px;
}

/*Navigation bar*/
nav {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
}
nav.header__navigation {
    background-color: #9a1c2d; /* Цвет фона */
    background-image: linear-gradient(transparent 14%, #fff 14%);
}

.menu {
	display: flex;
}
.menu__item {
    padding-top: 25px;
}

.menu__item a {
    color: #000;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    transition: all 0.5s ease;
}

.menu__item a:hover {
    border-bottom: 4px solid #9a1c2d;
}

.header__red {
	color: #9a1c2d;
}

.header__contacts {
	text-align: right;
}

.header__phones {
	background: url('../images/phone.png') no-repeat left;
	font-family: 'Bebas Neue';
	font-size: 24px;
	font-weight: normal;
	height: 36px;
	padding-left: 35px;
	padding-top: 4px;
	color: #000;
}

.header__mail {
	background: url('../images/mail.png') no-repeat left;
	font-size: 16px;
	font-weight: 600; 
	margin-left: 50px;
	color: #000;
}

/*Flags*/
.start__lang {
	display: flex;
	width: 50px;
	padding-top: 16px;
	margin-left: auto;
  	margin-right: 5%;
}

.start__flag1 {
	width: 20px;
	height: 15px;
	background: linear-gradient(180deg, #FFF400 50%, #33CCCC	50%);
	margin-right: 10px;
}
.start__flag2 {
	width: 20px;
	height: 15px;
}

.start__white {
	background: #fff;
	height: 5px;
}

.start__blue {
	background: #1240AB;
	height: 5px;
}

.start__red {
	background: #A60000;
	height: 5px;
}


/*Main title*/
.offer {
	background: url('../images/Track1.png') no-repeat center;
    text-align: center;
    color: #fff;
    
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -385px;*/
}

.offer__title {
	width: 940px;
	padding-top: 144px;
	font-size: 36px;
    font-weight: 700;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 45px;
	text-transform: inherit;
}

.second-title {
	font-size: 30px;
	text-align: center;
	color: #fff;
	padding-bottom: 251px;
}

/*Next screens*/
.container {
	width: 940px;
	margin: 0 auto;
}

/*Section Goods*/

.goods {
	height: 414px;
	background-color: #fff;

}

.goods__positions {
	height: 544px;
	width: inherit;
	background-color: #fff;
	border-radius: 20px;
	margin-top: -64px;
	position: absolute;
	display: flex;
	padding-top: 65px;
	justify-content: space-evenly;
}

.goods__item {
	width: 280px;
	text-align: center;
}

.goods__description {
	line-height: 24px;
	margin-bottom: 22px;
}


/*Section Brands*/
.brands-list {
	text-transform: uppercase;
	margin-bottom: 5px;
}

.button-more {
	width: 97px;
	height: 30px;
	border-radius: 4px;
	background: #9a1c2d;
	border: none;
	transition: .2s linear; 
	font-size: 14px;
	color: white;
	text-align: center;
	padding-top: 5px;
	margin: 0 auto;
}

.button-more:hover {
	background: #000;
	box-shadow: 0 0 0 2px black inset, 0 0 0 4px white inset;
}

/*Section Diesel*/
.diesel {
	position: static;
	height: 616px;
	padding-top: 132px; 
	background: url('../images/Track2.png') no-repeat center;
}

.diesel__description {
	text-align: center;
}

.diesel__title, .equipment__title {
	text-transform: uppercase;
}

.diesel__more, .equipment__more {
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin-top: 40px;
}

.diesel__more:last-child {
	margin-bottom: 40px;
}


/*Section Points*/
.points {
	height: 316px;
}

.points__list {
	height: 380px;
	width: inherit;
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	margin-top: -64px;
	position: absolute;
	display: flex;
	padding-top: 65px;
	justify-content: space-evenly;
}

.points__item {
	width: 245px;
	text-align: center;
}

.points__description {
	line-height: 24px;
	margin-top: 22px;
	margin-bottom: 22px;
	font-size: 18px;
	font-weight: 400;
}


/*Section Price*/
.price {
	background: linear-gradient(to right, #000 50%, #9a1c2d 50%);
}

.form {
	display: flex;
}

.form__left {
	width: 50%;
	padding: 30px 0;
}
.form__fields {
	padding: 30px 0;
}

.form__item {
	width: 330px;
	height: 48px;
	border-radius: 4px;
	font-size: 18px;
	padding-left: 18px;
	margin-bottom: 25px;
}

.form__button, .equipment__download {
	width: 330px;
	height: 48px;
	border-radius: 4px;
	background: #9a1c2d;
	border-color: #fff;
	border: 2px solid;
	font-size: 22px;
	text-align: center;
	transition: .2s linear;
	color: #fff;
	text-transform: uppercase;
}

.form__button:hover {
	background: #000;
	box-shadow: 0 0 0 2px black inset, 0 0 0 4px white inset;
}

.form__right {
	width: 50%;
	padding-top: 95px;
}

.form__title-price {
	width: 330px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	margin: 0 0 0 auto;
	padding: 24px 0 0 50px;
}

.form__current-price {
	margin: 22px 0 25px auto;
	padding-top: 10px;
	width: 330px;
	height: 48px;
	background-color: #fff;
	border-radius: 4px;
	color: #9a1c2d;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}


/*Section Certificates*/
.certificates {
	background-color: #e8e8e8;
}

.certificates__wrapper {
	text-align: center;
	padding-bottom: 67px;
}

.certificates__blocks {
	display: flex;
}


.certificates__title {
	color: #000;
	text-transform: uppercase;
	padding: 65px 0 35px 0;
}

.certificates__left {
	width: 50%;
	padding-top: 70%;
	text-align: center;
	background: url('../images/certificate1.png') no-repeat center;
	background-size: contain;
}
.certificates__right {
	width: 50%;
	padding-top: 70%;
	text-align: center;
	background: url('../images/passport1.png') no-repeat center;
	background-size: contain;
}

/*Sectiion Brands*/
.brands__intro {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	padding: 65px 0 53px 0;
}

.brands__item {
	display: flex;
}
.brands__pic {
	padding-top: 7px;
}

.brands__description {
	padding-left: 15px;
}

.brands__paragh {
	margin-bottom: 30px;
}

.brands__download {
	width: 330px;
	height: 48px;
	border-radius: 4px;
	background: #9a1c2d;
	border: none;
	transition: .2s linear; 
	font-size: 22px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 8px;
	margin-bottom: 50px;
}

.brands__download:hover {
	background: #000;
	box-shadow: 0 0 0 2px black inset, 0 0 0 4px white inset;
}

.temol {
	margin-top: 27px;
}

.ksm {
	margin-top: 14px;
}

/*Section Equipment*/
.equipment {
	background: url('../images/gas1.png') no-repeat center;
}

.equipment__description {
	padding-top: 40px;
	text-align: center;
	padding-bottom: 39px;
}

.equipment__more {
	font-weight: 400;
}

.equipment__download {
	padding-top: 5px;
	margin: 0 auto;
}

.equipment__download:hover {
	background: #000;
	border: 2px solid;
    border-color: #fff;
    box-shadow: 0 0 0 2px black inset, 0 0 0 4px white inset;
}

.third {
	margin-bottom: 48px; 
}

/*Section Questions*/
.questions {
	background-color: #9a1c2d;
}

.question__block {
	padding-top: 65px;
	display: flex;
}

.questions__title {
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.questions__comment {
	width: 340px;
	font-size: 20px;
	color: #fff;
	margin: 35px 0 145px 0;
}

.questions__left {
	width: 50%;
}
.questions__right {
	width: 50%;
	text-align: right;
}

.question__button {
	width: 330px;
	height: 48px;
	border-radius: 4px;
	background: #9a1c2d;
	border: 2px solid;
	border-color: #fff;
	transition: .2s linear; 
	color: #fff;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5px;
	display: inline-block;
	margin-right: 0;
}

.question__button:hover {
	background: #000;
	box-shadow: 0 0 0 2px black inset, 0 0 0 4px white inset;
}

.question__item {
	width: 330px;
	height: 48px;
	border-radius: 4px;
	font-size: 18px;
	padding-left: 18px;
	margin-bottom: 25px;
}

/*Footer*/

.footer__logo {
	background: url('../images/logo.png') no-repeat 22px;
	font-family: 'Bebas Neue';
	font-size: 36px;
	color: #000;
	font-weight: bold;
	line-height: 1.1;
	padding-left: 115px;
}

.footer__red {
	color: #9a1c2d;
}

.footer__contacts {
	text-align: right;
	padding-top: 5px;
	margin-bottom: 25px;
}

.footer__phones {
	background: url('../images/phone.png') no-repeat left;
	font-size: 18px;
	font-weight: 600;
	margin-left: 52px;
	margin-bottom: 2px;
	color: #000;
	}

.footer__address {
	background: url('../images/place.png') no-repeat left;
	font-size: 16px;
	font-weight: 600;
	padding-left: 30px; 
	padding-top: 5px;
	padding-bottom: 7px;
}

.footer__mail {
	background: url('../images/mail.png') no-repeat left;
	font-size: 16px;
	font-weight: 600; 
	margin-left: 130px;
	color: #000;
}

.header__mail:hover, .header__phones:hover, .footer__mail:hover, .footer__phones:hover {
	color: #9a1c2d;
}

/*Go to top button*/

#go-top {
  position: fixed; 
  font-family: sans-serif;
  line-height: 30px;
  text-align: center;
  color: #fff;
  bottom: 25px; 
  right: 50px; 
  cursor:pointer;
  transition: .2s linear; 
  display:none;
  width: 70px;
  height: 30px;
  background: #9a1c2d;
  border-radius: 5px;
  border: 2px solid;
  border-color: #fff; 
  text-transform: uppercase;
  padding-bottom: 28px;
}

#go-top:hover {
  background: #000;
  box-shadow: 0 0 0 2px black inset, 0 0 0 4px white inset;
}

/*Adaptivity */ 

@media screen and (max-width: 1068px) {
    nav {
        padding-left: 1%;
		padding-right: 1%;
		position: relative;
    }

.offer__title {
	width: 77%;
}


@media screen and (max-width: 992px) {
    nav.header__navigation {
    	position: relative;
    	background-color: #9a1c2d; /* Цвет фона */
        background-image: linear-gradient(transparent 7%, #fff 7%);
    }
    .menu {
    	position: absolute;
    	left:10%; 
    	right: 10%;   	
    	top: 99px;
    	justify-content: center;
    	}
	.menu__item a {
		padding-left: 50px;
		padding-right: 50px;
		}
    .head__logo {
    	margin-bottom: 86px;
		}
	
	.container {
	width: 99%;
	}
	.offer__title, .diesel__description {
	width: 99%;
	}

	.goods {
	height: 850px;
}
	.goods__positions {
	position: static;
	display: block; 
	margin: 0 auto 32px;
	border-radius: 0;
	padding-top: 32px;
	text-align: center;
	}

	.goods__item, .points__item {
	width: 280px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 32px;
	margin-right: 17px;
	}

	.goods__item:first-child, .points__item:first-child {
		margin-left: 17px;
	}

	.form__left, .form__right {
		text-align: center;
	}

	.form__title-price {
		margin: 0 auto;
		padding-left: 0;
	}
	.form__current-price {
		margin: 22px auto 25px auto;
		}
	.certificates__blocks {
		display: flex;
	}
	.certificates__left, .certificates__right {
	width: 50%;
	text-align: center;
	background-size: contain;
	margin: 0 auto;
	}
	.points {
		height: 562px;
	}
	.points__list {
	position: static;
	display: block; 
	margin: 0 auto 32px;
	border-radius: 0;
	padding-top: 32px;
	text-align: center;
	}
	.questions__right {
	padding-left: 0;
	}
	.question__button {
		margin: 0 auto;
	}
	.brands__paragh, .equipment__more {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
    .header {
        padding-left: 1%;
		padding-right: 1%;
    }
    .menu {
    	left: 4%; 
    	right: 4%;
    }
    .menu__item a {
		padding-left: 15px;
		padding-right: 15px;
	}
	.offer__title {
        font-size: 27px;
    }
    .second-title {
		font-size: 24px;
	}
	.container {
	width: 99%;
	padding-left: 0;
	padding-right: 0;
	}
	.goods {
		height: 1275px;
	}
	.goods__positions {
		height: 1255px;
		width: 320px;
		display: block; 
		padding-top: 32px;
		text-align: center;
	}
	.goods__item, .points__item {
		width: 280px;
		display: block;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.points {
		height: 820px;
	}
	.goods__item:first-child {
		margin-left: 0 auto;
	}
	.diesel {
		padding-top: 90px;
		height: 616px;
	}
	.diesel__title {
		font-size: 30px;
	}
	.diesel__more {
		font-size: 18px;
		margin-top: 20px;
	}
	.points__list {
		height: 1255px;
		width: 320px;
		display: block; 
	}
	.question__block {
		padding-top: 35px;
	}
	.questions__left {
		text-align: center;
	}
	.questions__comment {
	    margin: 35px auto 70px auto;
	}
	
	
}



@media screen and (max-width: 576px) {
    nav.header__navigation {
    	position: relative;
    	background-color: #9a1c2d; /* Цвет фона */
        background-image: linear-gradient(transparent 3%, #fff 3%);
    }

    .form {
    	display: block;
    	padding-bottom: 20px;
    }

	.form__left, .form__right {
		width: 100%;
		padding: 0 auto;
	}
    .offer__title {
        font-size: 21px;
    }

    nav {
    	display: block;
    	}

    .menu {
    	position: static;
    	padding-bottom: 12px;
    	}
    .menu__item a {
		padding-left: 10px;
		padding-right: 10px;
		}

	.menu__item {
		padding-top: 12px;
	}	
	.head__logo {
    	margin-bottom: 0;
    	width: 220px;
    	margin: 0 auto; 
    }
    .header__contacts {
    	width: 280px;
    	margin: 0 auto; 
    	margin-bottom: 10px;
    }	
    .second-title {
    	font-size: 19px;
    }
	.container {
		width: 99%;
	}

    .diesel__description {
    	width: 99%;
    }
	.brands__item {
		display: block;
		padding-top: 20px;
    }
    .brands__description {
    	padding: 0;
    }
    .temol, .ravenol, .ksm {
    	text-align: center;
    	margin: 7px 0;
    }
	.brands {
		padding-bottom: 20px;
	}
    .points {
		height: 805px;
	}
	.points__list {
		height: 700px;
		display: block;
		margin-top: -32px;
		margin-bottom: 32px; 
		border-radius: 15px;
		padding-top: 32px;
		text-align: center;
		justify-content: space-evenly;
	}
	.points__item {
		width: 245px;
		justify-content: space-evenly;
		margin: 0 auto 40px; 
	}
	.points__item:first-child {
		margin: 0 auto 40px;
	}

	.price {
    background: #9a1c2d;
	}
	.form__right {
   		padding-top: 0;
	}
	.equipment {
		background: url('../images/gas1.png') repeat center;
		}
	.equipment__description, .question__block {
		padding: 20px 0;
	}
	.question__block {
    	display: block;
    }
    .questions__left, .questions__right {
    	width: 100%;
    	text-align: center;
    	margin: 0 auto;
    }
    .question__button {
    	margin: 0 auto;
    }
	.questions__comment {
		margin: 15px auto 20px auto;
		text-align: center;
	}
	.brands__download {
		margin: 0 auto;
	}
		.footer__logo {
		width: 250px;
		margin: 0 auto;
	}
	.footer__address, .footer__phones, .footer__mail {
		font-size: 14px;
	}
	.footer__contacts {
		text-align: center;

	}
	.footer__phones {
		width: 250px;
		padding-bottom: 5px;
		margin: 0 auto;

	}
	.footer__address {
		width: 290px;
		padding-left: 20px;
		padding-bottom: 5px;
		margin: 0 auto;
	}
	.footer__mail {
		width: 200px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 432px) {
	.menu, ul {
		display: block;
		text-align: center;
	}
	.container {
		width: 99%;
	}
	
	.question__title, .certificates__title, .diesel__title, .equipment__title {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}
	
	.goods {
		height: 1260px;
	}
	.goods__positions {
		width: 99%;
	}

	.goods__item:first-child {
		margin: 0 auto;
		}

	.diesel {
		padding-top: 15px;
	}	
	.brands__download {
		margin-bottom: 20px;
	}
	
	.equipment__more {
		font-size: 16px;
		margin-top: 15px;
	}
	.third {
		margin-bottom: 15px;
	}
	.form__button, .form__item, .form__current-price, .brands__download, .equipment__download, .question__item, .question__button {
		width: 280px;
	}
	.questions__comment {
	    margin: 15px 0 20px 0;
	    font-size: 16px;
	}
	

}